.container {
}
.about-content {
  display: flex;
  padding: 6.25rem 0;
}
.about-content__image {
}
.about-content__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  margin-left: 100px;
}
.about-title {
}
.title {
}
.about-text {
  font-size: 14px;
  font-weight: 300;
}
.text {
}
.about-actions {
}
