.header {
  background-color: #212223;
  color: var(--c-white);
}

.header-top {
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--c-white);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-contacts {
    display: flex;
    gap: 1.5rem;
  }
}
.header-bottom {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .menu {
    .menu-list {
      text-transform: uppercase;
      display: flex;
      gap: 1.5rem;
    }
  }
}
