#cost {
  background: #381c75;
  background: linear-gradient(
    90deg,
    rgba(56, 28, 117, 1) 90%,
    rgba(255, 255, 255, 1) 0%
  );

  color: var(--c-white);
}
.container {
}
.cost-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 6.25rem 0;
}

.pricelist__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 300;
}
.pricelist__item {
  max-width: 13.75rem;

  .icon {
    mask-repeat: no-repeat;
    mask-size: contain;

    &::before {
      width: 50px;
      height: 40px;
    }
  }
  .icon-alarm {
    mask-image: url("/src/assets/icons/icon-alarm.svg");
  }
  .icon-time {
    mask-image: url("/src/assets/icons/icon-time.svg");
  }
  .icon-sandclock {
    mask-image: url("/src/assets/icons/icon-sandclock.svg");
  }
  .icon-calendar {
    mask-image: url("/src/assets/icons/icon-calendar.svg");
  }
}
