#cost {
}
.container {
}
.cost-content {
  display: flex;
}
.cost-content__body {
}

.cost-title {
}
.title {
}
.cost-text {
}
.text {
}

.pricelist__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.pricelist__item {
}
.icon {
}
.pricelist-subtitle {
}
.text-accent {
}
.pricelist-text {
}
