<footer>
  <div class="footer-content">
    <div class="container">
      <div class="footer-grid">
        <div class="footer-grid__logo">
          <include src="html/components/logo/_logo.html"></include>
          <div class="footer-grid__logo--text">
            <p>
              At nemore iriure luptatum nam, at iudico albucius console pericula
              this is partiendo constituam at per.
            </p>
          </div>
          <include src="html/components/socials/_socials.html"></include>
        </div>
        <div class="footer-grid__insta">
          <h3 class="title">instagram</h3>
          <div class="footer-grid__insta--images">
            <img
              src="/src/assets/images/bicycles/p-1.webp"
              alt="Bicycle Image"
              width="100"
              height="75" loading="lazy"
            />
            <img
              src="/src/assets/images/bicycles/p-2.webp"
              alt="Bicycle Image"
              width="100"
              height="75" loading="lazy"
            />
            <img
              src="/src/assets/images/bicycles/p-3.webp"
              alt="Bicycle Image"
              width="100"
              height="75" loading="lazy"
            />
            <img
              src="/src/assets/images/bicycles/p-4.webp"
              alt="Bicycle Image"
              width="100"
              height="75" loading="lazy"
            />
          </div>
        </div>
        <div class="footer-grid__contacts">
          <h3 class="title">contact us</h3>
          <address class="address">
            <a href="tel:+10452241267"
              ><span class="text-accent">Phone: </span>+ 1 (045) – 224 – 12 – 67</a
            >
            <a href="#"
              ><span class="text-accent">Address: </span>470 Lucy Forks, Patriciafurt, YC7B 3UT</a
            >
            <a href="mailto:template@monster.com"
              ><span class="text-accent">Mail: </span> template@monster.com</a
            >
          </address>
        </div>
        <div class="footer-grid__form">
          <h3 class="title">subscribe</h3>
          <form action="" class="form">
            <div class="form__body">
              <label for="email" class="form-label sr-only">subscribe</label>
              <div class="form-input__block">
                <input type="email" class="form-input__area" name="email" id="email" placeholder="Your mail">
                <input type="submit" class=" submit sr-only"><span class="icon icon-email"></span></input>
              </div>
            </div>
            <div class="footer-grid__form--text">
              <p>Nam, at iudico albucius pericula at nemore
iriure luptatum.</p>
            </div>
          </form>
        </div>
      </div>
      <div class="copyrights">
        <p>Zemez ©. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
