<ul class="socials">
  <li class="socials-item">
    <a href="#" target="_blank" class="socials-link icon icon-fb"
      ><span class="sr-only">facebook</span></a
    >
  </li>
  <li class="socials-item">
    <a href="#" target="_blank" class="socials-link icon icon-yt"
      ><span class="sr-only">youtube</span></a
    >
  </li>
  <li class="socials-item">
    <a href="#" target="_blank" class="socials-link icon icon-x"
      ><span class="sr-only">x</span></a
    >
  </li>
  <li class="socials-item">
    <a href="#" target="_blank" class="socials-link icon icon-ig"
      ><span class="sr-only">instagram</span></a
    >
  </li>
</ul>
