<ul class="socials">
  <li class="socials-item icon icon-fb">
    <a href="#" target="_blank" class="socials-link sr-only">facebook</a>
  </li>
  <li class="socials-item icon icon-yt">
    <a href="#" target="_blank" class="socials-link sr-only">youtube</a>
  </li>
  <li class="socials-item icon icon-x">
    <a href="#" target="_blank" class="socials-link sr-only">x</a>
  </li>
  <li class="socials-item icon icon-ig">
    <a href="#" target="_blank" class="socials-link sr-only">instagram</a>
  </li>
</ul>
